.logout{
  cursor:pointer;
  height:100%;
  font-size:14px;
  line-height:90px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.company{
  cursor:pointer;
  color:white;
  background-color: #f1c11a;
  margin-left: 100px;
  padding: 2px 25px;
  font-size: 30px;
  height:100%;
  line-height:90px;
}
.fill-remaining-space {
  flex: 1 1 auto;
}

.company{
  color:white;
  background-color: #f1c11a;
  margin-left: 100px;
  padding: 2px 25px;
  font-size: 30px;
  height:100%;
  line-height:90px;
}
.other{
  cursor:pointer;
  height:100%;
  padding: 0 15px;
  font-size:20px;
  font-color:#1f202d;
  line-height:90px;
}
.home{
  font-weight: bold;
}

