/*.block {*/
  /*overflow: hidden;*/
  /*-webkit-animation: height 1s; !* Safari, Chrome and Opera > 12.1 *!*/
  /*-moz-animation: height 1s; !* Firefox < 16 *!*/
  /*-ms-animation: height 1s; !* Internet Explorer *!*/
  /*-o-animation: height 1s; !* Opera < 12.1 *!*/
  /*animation: height 1s;*/
/*}*/
/*@keyframes height {*/
  /*from { height:0px; }*/
  /*to   { height: 20px; }*/
/*}*/

/*!* Firefox < 16 *!*/
/*@-moz-keyframes height {*/
  /*from { height:0px; }*/
  /*to   { height: 20px; }*/
/*}*/

/*!* Safari, Chrome and Opera > 12.1 *!*/
/*@-webkit-keyframes height {*/
  /*from { height:0px; }*/
  /*to   { height: 50px; }*/
/*}*/

/*!* Internet Explorer *!*/
/*@-ms-keyframes height {*/
  /*from { height:0px; }*/
  /*to   { height: 50px; }*/
/*}*/

/*!* Opera < 12.1 *!*/
/*@-o-keyframes height {*/
  /*from { height:0px; }*/
  /*to   { height: 50px; }*/
/*}*/
.rightArrow{
  color:rgba(0, 0, 0, 0.38);
}
.downArrow{
  color:#42a5f5;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


table tbody tr:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}
