<table >
  <tr>
    <th></th>
    <th>Date</th>
    <th>Driver</th>
    <th>Fare</th>
    <th>Type</th>
    <th>City</th>
    <th>Payment</th>
  </tr>
  <tbody *ngFor="let tripInfo of myTripsLog" >
    <tr *ngIf="tripInfo.tripid" (click)="clickRow(tripInfo)" [style.background-color]="tripInfo.color">
      <td>
        <md-icon *ngIf="!tripInfo.expanded" class="rightArrow">play_arrow</md-icon>
        <md-icon *ngIf="tripInfo.expanded" class="downArrow">arrow_drop_down</md-icon>
      </td>
      <td>
        {{tripInfo.date}}
      </td>
      <td>
        {{tripInfo.driver}}
      </td>
      <td>
        Rs.{{tripInfo.fare}}
      </td>
      <td>
        {{tripInfo.type}}
      </td>
      <td>
        {{tripInfo.city}}
      </td>
      <td>
        {{tripInfo.payment}}
      </td>
    </tr>
    <tr *ngIf="tripInfo.expanded" [style.background-color]="tripInfo.color">
      <td colspan="7">
        <ud-expandable-list-item [tripDetail]="tripInfo.detail"></ud-expandable-list-item>
      </td>
    </tr>
  </tbody>
</table>
