<div class="fluid-container">
  <div class="row">
    <div class="col-md-6">
      <div class="outer">
        <div class="middle">
            <p><span class="xl-text">For the people with <span class="bold-text">Class</span></span><br>
              Luxury vehicles at your doorstep with<br>
              the click of a button<br>
              <br>
              <span class="button-custom blue-button" (click)="onNav()">Book a LuxuryCab</span>
            </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 dot1">
      <img src="assets/img/car2.png">
    </div>
  </div>
  <div class="row small">
    <div class="col-md-12 small" id="div3">
      <p>
        <span class="xl-text">Choose from a <span class="bold-text">wide Variety</span></span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" id="car2">
      <img src="assets/img/car1.png">
    </div>
    <div class="col-md-6">
      <div class="outer">
        <div class="middle">
          <p>
            <span class="larger-text">From Lamborgini to classy Volkswagen, we have it all. Sometimes you need a bit more space. Or you want to go big on style. With LuxuryCabs, the choice is yours.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row blue-button">
    <div class="col-md-8">
      <div class="outer">
        <div class="middle more-width">
          <span class="xl-text">We are <span class="bold-text">Everywhere</span></span><br>
            <br>
          <span class="large-text">
            From New York to Moscow, you find us anywhere.Daily commute. Errand across town. Early morning flight. Late night drinks. Wherever you’re headed, count on LuxuryCabs for a ride—no reservations needed.
            <br>
            <br>
            <span class="button-custom white-button" (click)="onNav()">Book a LuxuryCab</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4" id="div5">

    </div>
  </div>
</div>
